{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    },
    "target": "es2022",
    "baseUrl": "./",
    "paths": {
      "@routes/*": ["./src/routes/*"],
      "@middlewares/*": ["./src/middlewares/*"],
      "@utils/*": ["./src/utils/*"]
    }
  },
  "module": {
    "type": "commonjs"
  }
}
