{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    },
    "target": "es2022",
    "paths": {
      "@routes/*": ["./src/routes/*"]
    },
    "baseUrl": "./"
  },
  "module": {
    "type": "commonjs"
  }
}
